@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: "montserrat";
}

  body {
    background-color: #1f2029;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    border: 2px solid transparent; /* Tornando a borda transparente */
    border-image: linear-gradient(45deg, gold, #ffeba7) 1; /* Gradiente nas bordas */
    background-color: #1f2029;
    padding: 20px;
    border-radius: 0px;
    width: 400px;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    background-color: #1f2029;
    border-bottom: 1px solid #ffeba7;
    font-size: 14px;
    outline: none;
    transition: border-bottom-color 0.3s;
    caret-color: #fff;
  }

  input:focus, textarea:focus {
    border-bottom-color: goldenrod; /* Muda a cor da linha quando focado */
  }
  
  /* From Uiverse.io by mrhyddenn */ 
button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #ffeba7;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: gold;
    box-shadow: 0 0 30px 5px rgba(218, 165, 32, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

  .link-btn{
    border: 1px solid red;
  }
  
  .form-action {
    display: flex;
    justify-content: space-between; /* Alinha o botão e o link lado a lado */
    align-items: center;
  }
  
  .forgot-password {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
    color: goldenrod;
    transition: ease-in-out 0.3s;
  }